---
import TypeFilter from './filters/TypeFilter.astro'
import VersionFilter from './filters/VersionFilter.astro'

interface Props {
    isMobile?: boolean;
}

const { isMobile } = Astro.props;
---

<div class="filter-container">
    <h1>Filters</h1>
    <TypeFilter isMobile={isMobile} />
    <VersionFilter isMobile={isMobile} />
</div>

<style>
    .filter-container {
        padding: 0.5rem;
    }
</style>
