---
import { SyntaxType } from '../../pages/syntaxes.astro'
---

<script>
    const expectedTypes: string[] = [];

    function shouldHideElement(element: Element) : boolean {
        if (expectedTypes.length != 0 && !expectedTypes.includes(element.getAttribute('syntax-type') as string)) {
            return true;
        }
        return false;
    }

    const syntaxes = document.getElementById('syntaxes') as HTMLElement;
    function processFilters() {
        for (const element of syntaxes.children) {
            const hide = shouldHideElement(element);
            element.classList.toggle('filter-hidden', hide);
            document.getElementById(`sidebar-${element.getAttribute('syntax-id')}`)?.classList.toggle('filter-hidden', hide);
        }
    }

    document.querySelectorAll('[type-filter]').forEach(input => {
        input.addEventListener('change', event => {
            const input = event.target as HTMLInputElement;
            if (input.checked) {
                expectedTypes.push(input.id);
            } else {
                expectedTypes.splice(expectedTypes.indexOf(input.id), 1);
            }
            processFilters();
        })
    });
</script>

<h1>Filters</h1>

<fieldset class="row">
    <legend>Syntax Type</legend>
    {Object.values(SyntaxType).map(type => (
        <span>
           <label for={type} class="checkbox">
               <input type="checkbox" name={type} id={type} type-filter/>
               {type}
           </label>
        </span>
    ))}
</fieldset>

<style>
    fieldset {
        border-color: var(--sl-color-hairline);
        border-style: solid;
    }
    fieldset > legend {
        font-size: 1.5em;
    }
    .row {
        display: block;
        column-count: 2;
        column-fill: balance;
    }
    .checkbox {
        white-space: nowrap;
        margin-right: 0.5em;
    }
</style>
