---
import ReturnTypeFilter from './filters/ReturnTypeFilter.astro';
import TypeFilter from './filters/TypeFilter.astro'
import VersionFilter from './filters/VersionFilter.astro'
import AddonFilter from "./filters/AddonFilter.astro";
---

<div class="filter-container">
    <h1>Filters</h1>
    <TypeFilter />
    <VersionFilter />
    <ReturnTypeFilter />
    <AddonFilter />
</div>

<style is:global>
    #starlight__sidebar {
        scrollbar-gutter: auto;
        background-color: var(--sl-color-bg-nav);
    }
    .filter-container {
        margin: 0;
        padding: 0;
    }
    .filter-container fieldset {
        border: 1px solid var(--sl-color-gray-5);
    }
    .filter-container fieldset > legend {
        font-size: 1.5rem;
    }
</style>
