---
import { SyntaxType } from '../../pages/syntaxes.astro'
---

<script>
    const expectedTypes = new Set<string>();

    function initFilters() {
        // Wait for syntaxDisplayManager to initialize
        const syntaxDisplayManager = (window as any).__syntaxDisplayManager;
        if (!syntaxDisplayManager) {
            setTimeout(initFilters, 100);
            return;
        }

        // we send updated type filter info to the display manager
        const { updateTypeFilter } = syntaxDisplayManager;

        // filter change event listener
        document.querySelectorAll('[type-filter]').forEach(input => {
            input.addEventListener('change', event => {
                const input = event.target as HTMLInputElement;
                
                if (input.checked) {
                    expectedTypes.add(input.id);
                } else {
                    expectedTypes.delete(input.id);
                }
                
                updateTypeFilter(expectedTypes);
            });
        });
    }

    initFilters();
</script>

<h1>Filters</h1>

<fieldset class="row">
    <legend>Syntax Type</legend>
    {Object.values(SyntaxType).map(type => (
        <span>
           <label for={type} class="checkbox">
               <input type="checkbox" name={type} id={type} type-filter/>
               {type}
           </label>
        </span>
    ))}
</fieldset>

<style>
    fieldset {
        border-color: var(--sl-color-hairline);
        border-style: solid;
    }
    fieldset > legend {
        font-size: 1.5em;
    }
    .row {
        display: block;
        column-count: 2;
        column-fill: balance;
    }
    .checkbox {
        white-space: nowrap;
        margin-right: 0.5em;
    }
</style>
