---
import { Code } from "@astrojs/starlight/components";

interface Props {
    title: string,
    wrap?: boolean,
    code: string[],
}

const { title, wrap, code} = Astro.props;
---

<div class="code-card">
    <span class="title">{title}</span>
    {code.map(entry => (
        <Code code={entry} lang="applescript" wrap={wrap}/>
    ))}
</div>

<style>
    .code-card {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        background-color: var(--sl-color-black);
        border: 1px solid var(--sl-color-gray-5);
        border-radius: 0.5rem;
    }

    .title {
        font-size: var(--sl-text-xl);
        margin-bottom: 0.5rem;
    }
</style>
