---
import { Code } from "@astrojs/starlight/components";

interface Props {
    title: string,
    wrap?: boolean,
    code: string[],
}

const { title, wrap, code} = Astro.props;
---

<div class="code-card">
    <span class="title">{title}</span>
    <div class="code-card-blocks">
        {code.map(entry => (
                <Code code={entry} lang="applescript" wrap={wrap}/>
        ))}
    </div>
</div>

<style is:global>
    .code-card {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        padding: 1rem;

        background-color: var(--sl-color-black);
        border: 1px solid var(--sl-color-gray-5);
        border-radius: 0.5rem;
    }
    .code-card > * {
        overscroll-behavior: contain;
    }
    .title {
        font-size: var(--sl-text-xl);
        margin-bottom: 0.25rem;
    }
</style>
<style>
    .code-card-blocks {
        overflow-y: auto;
        scrollbar-color: var(--sl-color-gray-5) var(--sl-color-black);
        scrollbar-width: thin;
    }
    .code-card-blocks * { /* don't override scroll bars for individual Code blocks */
        scrollbar-color: initial;
        scrollbar-width: inherit;
    }
</style>
